section {
    padding-bottom: 50px;
    border-bottom: 1px black solid;
}

h4:first-of-type {
    color: blue;
}

section:nth-child(2) {
    border-bottom: 5px red solid;
}

section:nth-child(3) h3,
h3+ul {
    color: red;
}

section:nth-child(4) ul>li:nth-child(2) {
    font-size: 25px;
}

section:nth-child(5) h3+span {
    color: blue;
}

section:nth-child(6) img {
    border: solid ;
    border-radius: 30px;
}

section:last-child p:hover {
    color: green;
}